.note{
  display: flex;
  border: 1px solid #c9d3bb;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 400px;
  background: #fffff0;
}

.note .spiral{
  width: 20px;
  position: relative;
  height: 100%;
}

.note .spiral::before{
  content: '';
  position: absolute;
  top: 10px;
  left: 50%;
  width: 4px;
  height: calc(100% - 20px);
  background: repeating-linear-gradient(
    to bottom, 
    #aaa,
    #aaa 6px,
    transparent 6px,
    transparent 20px
  );
  transform: translate(-50%);
  border-radius: 2px;
}

.text-content .memory-title{
  text-transform: uppercase;
}