.left-section label span.label-span{
  font-size: 12px;
  font-weight: 700;
}

.left-section label{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.left-section label input{
  padding: 5px;
  outline: none;
  border: 1px solid #4c6f59;
  border-radius: 7px;
  font-weight: 500;
}

.left-section label input.command-input {
  border: none;
  padding: 0;
  outline: none;
  border-radius: 0;
  font-weight: 500;
}

.left-section label textarea{
  outline: none;
  border: 1px solid #4c6f59;
  min-height: 250px;
  border-radius: 7px;
  padding: 5px;
}

.left-section .cover-image{
  border-radius: 10px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}