@font-face{
  font-family: 'Patrick Hand';
  src: url('./assets/fonts/Patrick_Hand/PatrickHand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/static/Inter_18pt-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.App{
  background: #f8f2e6;
  color: #4c6f59;
  min-height: 100vh;
}